//fonts
$primaryFont:'Roboto';
$bold:'Sequel Sans Black';
// $light:'Euclid Circular A Light

//colors
$primary:#0253C8;
$blue: #0253C8;
$text:#01265B;
$inactive:#788291;
$body:#30415A;
$white:#ffffff;
$black:#273444;
$grey:#4D4D4D;




$green:#32BEA6;
$secondary:#00114D;
$dark:#212121;
$nearWhite:#FAFAFA;
$grey-c:#cccccc;
$grey-3:#333333;
$grey-9:#999999;
$grey-6:#666666;
$purple:#E5EBFF;
$border: 1px solid #E6E6E6;

