.ms {
    margin-top:2rem ;
    margin-bottom:2rem ;
}

.my {
    margin-top:2rem;
    margin-bottom:2rem;
}

.mt-xs {
    margin-top:1rem ;
}

.mt-sm {
    margin-top:2rem ;
}

.mb-xs {
    margin-bottom:1rem ;
}

.mb-sm {
    margin-bottom:2rem ;
}


.mr-xs {
    margin-right:1rem ;
}


.mr-sm {
    margin-right:2rem ;
}

.mt-sm {
    margin-top:2rem ;
}

.mr-sm {
    margin-right:2rem ;
}

.mb-md {
    margin-bottom:3rem ;
}

.mb-lg {
    margin-bottom:4rem ;
}

.mb-xl {
    margin-bottom:6rem ;
}

.center {
    text-align: center;
}

.uc {
    text-transform: uppercase;
}



//Colors
.black {color:$black;}  
.white {color:$white;}  
.nearwhite {color:$nearWhite;}  
.grey {color:$grey;}  
.grey-c {color:$grey-c;}  
.grey-6 {color:$grey-6;}  
.grey-9 {color:$grey-9;}  
.grey-3{color:$grey-3;}  


